<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Nouveau post</h2>
      <form [formGroup]="PostForm" (ngSubmit)="onAddPost()">
        <div class="form-group">
          <label for="title">Titre</label>
          <input type="text" id="title"
                 class="form-control" formControlName="title">
        </div>
        <div class="form-group">
          <label for="contenr">contenu</label>
          <input type="text" id="author"
                 class="form-control" formControlName="content">
        </div>
        <button class="btn btn-success" [disabled]="PostForm.invalid"
                type="submit">Enregistrer
        </button>
  
      </form>
    </div>
  </div>