<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Posts</h2>
        <ul class="list-group">
            <app-post-list-item-component 
            *ngFor = "let post of posts"
            [title] = "post.title"
            [loveIts] = "post.loveIts"
            [content] = "post.content"
            [post] = "post">
        </app-post-list-item-component>
        </ul>
        <button class="btn btn-primary" (click)="onNewPost()">Nouveau post</button>
      </div>
    </div>
  </div>